@model CarsListViewModel

@{
    ViewData["Title"] = "Cars";
}
<form asp-action="Index" asp-route-page="@Model.Page" asp-route-manufacturerName="@Model.ManufacturerName">
    <div class="input-group">
        <input name="manufacturerName" type="text" class="form-control" placeholder="Manufacturer" value="@Model.ManufacturerName" />
        <div class="input-group-append">
            <button class="btn btn-info rounded-right" type="submit">Search</button>
        </div>
        <div class="dropdown ml-1">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                Order By
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-action="Index" asp-route-orderBy="id">Id</a>
                <a class="dropdown-item" asp-action="Index" asp-route-orderBy="year">Year</a>
                <a class="dropdown-item" asp-action="Index" asp-route-orderBy="model">Model</a>
                <a class="dropdown-item" asp-action="Index" asp-route-orderBy="manufacturer">Manufacturer</a>
            </div>
        </div>
        <a class="btn btn-success ml-1" asp-action="AddCar">
            Add Car
        </a>
        <a class="btn btn-success ml-1" asp-action="AddManufacturer">
            Add Manufacturer
        </a>
    </div>
</form>

<partial name="CarsList" model="Model.Cars" />

<div class="btn-group">
    @if (Model.Page > 1)
    {
        <a class="btn btn-primary" asp-action="Index" 
           asp-route-page="@(Model.Page - 1)" 
           asp-route-orderBy="@Model.OrderBy"
           asp-route-manufacturerName="@Model.ManufacturerName">Previous</a>
    }
    @if (Model.Cars.Count() == Model.PageSize)
    {
        <a class="btn btn-primary" asp-action="Index" 
           asp-route-page="@(Model.Page + 1)" 
           asp-route-orderBy="@Model.OrderBy"
           asp-route-manufacturerName="@Model.ManufacturerName">Next</a>
    }
</div>
